@charset "UTF-8";
@font-face {
  font-family: 'Charm-Regular';
  src: url(../Fuentes/Charm-Regular.ttf); }

@font-face {
  font-family: 'DancingScript';
  src: url(../Fuentes/DancingScript.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #e48cce; }

header {
  text-align: center;
  box-shadow: 0 0 15px 0 black; }
  header .flo_machine {
    color: goldenrod;
    font-family: "DancingScript";
    font-size: 1.5rem;
    font-weight: bold; }
  header img {
    width: 35px;
    height: 40px; }
  header ul {
    color: goldenrod; }
    header ul li {
      color: goldenrod;
      font-size: 1.2rem;
      font-family: "DancingScript"; }
      header ul li .nav-link {
        color: goldenrod; }
        header ul li .nav-link:hover {
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          background-color: #711161;
          color: goldenrod;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px; }
      header ul li #home {
        color: goldenrod; }
        header ul li #home:hover {
          color: goldenrod; }
      header ul li .dropdown-menu {
        color: goldenrod;
        font-size: 1rem; }
        header ul li .dropdown-menu .dropdown-item {
          color: goldenrod;
          font-size: 1rem; }
          header ul li .dropdown-menu .dropdown-item:hover {
            background-color: #711161;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px; }
  header .d-flex {
    font-family: "DancingScript";
    font-size: 1.2rem;
    font-weight: bold; }
    header .d-flex .form-control {
      background-color: goldenrod;
      border: solid goldenrod 1px; }
    header .d-flex .btn {
      font-weight: bold;
      color: goldenrod;
      border: solid goldenrod 1px; }
      header .d-flex .btn:hover {
        background-color: #711161;
        color: goldenrod;
        border: solid #201b1b 1px;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3); }

main {
  margin-top: 20px; }
  main section {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5; }
    main section h2 {
      color: #711161;
      font-family: "DancingScript";
      padding: 10px;
      font-size: 2.5rem;
      font-weight: bold; }
    main section p {
      font-size: 1.3rem;
      line-height: 1.5;
      color: black;
      font-family: "Charm-Regular";
      text-align: center; }
    main section .carousel {
      box-shadow: 0 0 20px 0 #a72bdc;
      filter: grayscale(5);
      -webkit-filter: grayscale(5); }
      main section .carousel:hover {
        filter: none;
        -webkit-filter: none; }
  main aside {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main aside .aside__titulo {
      font-family: "Charm-Regular";
      margin-top: 2rem;
      font-weight: bold;
      color: #711161; }
    main aside .social {
      font-size: 3.5rem;
      display: flex;
      width: 50%;
      justify-content: space-around; }
      main aside .social #facebook {
        color: #711161;
        margin: 0 auto; }
        main aside .social #facebook:hover {
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          color: goldenrod; }
      main aside .social #twitter {
        color: #711161;
        margin: 0 auto; }
        main aside .social #twitter:hover {
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          color: goldenrod; }
      main aside .social #instagram {
        color: #711161;
        margin: 0 auto; }
        main aside .social #instagram:hover {
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          color: goldenrod; }
      main aside .social #youtube {
        color: #711161;
        margin: 0 auto;
        /* cambiar los socials con mixin */ }
        main aside .social #youtube:hover {
          transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          color: goldenrod; }

footer {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  font-family: "Charm-Regular";
  box-shadow: 0 0 20px 0 #a72bdc; }
  footer p {
    color: goldenrod; }
    footer p a {
      text-decoration: none;
      font-weight: bold;
      color: #711161; }
      footer p a:hover {
        color: #e48cce; }

.main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  .main .carousel {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 black; }
    .main .carousel .carousel-caption {
      color: #711161;
      font-family: "Charm-Regular"; }
      .main .carousel .carousel-caption a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bold; }
        .main .carousel .carousel-caption a:hover {
          color: goldenrod; }

section {
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }
  section .accordion {
    width: 90%; }
    section .accordion .accordion-item {
      color: black;
      font-size: 1.2rem;
      line-height: 2;
      border: 1px solid black;
      box-shadow: 0 0 15px 0 black;
      background: linear-gradient(45deg, #711161, #e48cce); }
      section .accordion .accordion-item button {
        font-weight: bold;
        font-family: "DancingScript";
        color: goldenrod;
        font-size: 1.5rem;
        background-color: #201b1b;
        border: #711161; }
      section .accordion .accordion-item .accordion-collapse {
        color: black;
        font-family: "Charm-Regular";
        text-align: center;
        line-height: 2; }
        section .accordion .accordion-item .accordion-collapse iframe {
          justify-content: center; }

.main_gallery {
  margin-top: 20px;
  justify-content: center;
  text-align: center; }
  .main_gallery h2 {
    color: #711161;
    font-family: "DancingScript";
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px o; }
  .main_gallery .galería {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .main_gallery img {
    width: 400px;
    height: 500px;
    margin: 10px;
    border: 5px double goldenrod;
    padding: 5px;
    filter: grayscale(5);
    -webkit-filter: grayscale(5); }
    .main_gallery img:hover {
      filter: none;
      -webkit-filter: none; }

main {
  margin-top: 20px; }
  main h2 {
    color: #711161;
    font-family: "DancingScript";
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px o;
    text-align: center; }
  main section {
    padding: 0 20px;
    margin-bottom: 20px; }
    main section .parrafito {
      margin-top: 30px;
      font-size: 1.3rem;
      color: black;
      line-height: 1.5;
      padding: 20px; }
    main section img {
      width: 600px;
      height: auto; }
    main section p {
      font-size: 1.3rem;
      line-height: 1.5; }
  main aside .video {
    margin-top: 0;
    margin-bottom: 30px; }

section {
  margin-top: 20px; }
  section h2 {
    color: #711161;
    font-family: "DancingScript";
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px o;
    text-align: center; }

.section2 {
  padding: 20px; }
  .section2 #mail {
    width: 30px;
    height: 30px;
    color: #711161;
    border-bottom: 2px; }
  .section2 a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "DancingScript";
    font-weight: bold;
    color: #711161; }
    .section2 a:hover {
      color: goldenrod;
      font-size: 2rem;
      font-weight: bold; }
  .section2 h5 {
    font-family: "Charm-Regular";
    font-size: 1.3rem;
    color: black;
    font-weight: bold; }
  .section2 p {
    color: black;
    font-family: "Charm-Regular";
    font-size: 1rem; }
  .section2 .map {
    padding: 10px; }
    .section2 .map #direccion {
      width: 550px;
      height: 450px; }

.forma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px; }
  .forma fieldset {
    background: linear-gradient(90deg, #e48cce, #711161);
    width: 80%;
    place-items: center;
    padding: 15px;
    border: solid 5px #711161;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 30px 0 #a72bdc; }
    .forma fieldset h3 {
      font-family: "Charm-Regular";
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold; }
    .forma fieldset .mb-3 {
      font-family: "Charm-Regular";
      font-size: 1.2rem; }
      .forma fieldset .mb-3 input {
        background: linear-gradient(90deg, #711161, #e48cce);
        border: solid 2px black; }
      .forma fieldset .mb-3 textarea {
        background: linear-gradient(90deg, #711161, #e48cce);
        border: solid 2px black; }
    .forma fieldset .btn {
      background-color: black;
      font-family: "DancingScript";
      font-size: 2rem;
      font-weight: bold;
      width: 100%;
      justify-content: center;
      color: goldenrod;
      border: solid 2px goldenrod; }
      .forma fieldset .btn:hover {
        color: goldenrod;
        background-color: #711161;
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3); }
