.main { 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .carousel {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    box-shadow: 0 0 30px 0 $sombra;
    @media (max-width: $smartphone) {
      width: 380px;
      height: 380px;
    }
    .carousel-caption {
      color: $violeta;
      font-family: $parrafos;
      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        &:hover {
          color: $dorado;
        }
      }
    }
  }
}

section { 
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  .accordion {
    width: 90%; 
    .accordion-item {
      color: black;
      font-size: 1.2rem;
      line-height: 2;
      border: 1px solid black;
      box-shadow: 0 0 15px 0 black;
      background: linear-gradient(45deg, $violeta, $rosa);
      button {
        font-weight: bold;
        font-family: $titulos;
        color: $dorado;
        font-size: 1.5rem;
        background-color: $colorHeader;
        border: $violeta;
      }
    .accordion-collapse {
      color: black;
      font-family: $parrafos;
      text-align: center;
      line-height: 2;
      iframe {
        justify-content: center;
        width: 50%;
        height: 300px;
        @media (max-width: $tablets) {
          width: 80%;
        }
        @media (max-width: $smartphone) {
          width: 90%;
          height: 200px;
        }
      }
    }
    }   
  }
}















