main {
    margin-top: 20px;
    section {
        text-align: center;
        font-size: $size_p;
        line-height: 1.5;
        h2 {
            color: $violeta;
            font-family: $titulos;
            padding: 10px;
            font-size: $size_titulos;
            font-weight: bold;
            @media (max-width: $smartphone) {
                font-size: 2rem;
                margin-top: 5px;
                margin-bottom: 0;
            }
            @media (max-width: $tablets) {
                font-size: 2.5rem;
                margin-bottom: 0;
            }
        }   
        .carousel {
            box-shadow: 0 20px 20px 0 $colorHeader;
            filter: grayscale(5);
            -webkit-filter: grayscale(5);
            &:hover {
                filter: none;
                -webkit-filter: none;
            }
            @media (max-width: $smartphone) {
                margin-top: 0;
                margin: 0 15px;
            }
            @media (max-width: $tablets) {
                margin-top: 20px;
                margin: 0 10px;
            }
            
        } 
        .section_intro {
            font-size: 1.3rem;
            line-height: 1.5;
            color: black;
            font-family: $parrafos;
            text-align: center;
            @media (max-width: $smartphone) {
                padding: 15px;
                margin-bottom: 0;
            }
            @media (max-width: $tablets) {
                padding: 10px;
                margin-top: 15px;
                margin-bottom: 0;
            }
        }   
   }

    aside {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .aside__titulo {
            font-family: $parrafos;
            margin-top: 2rem;
            font-weight: bold;
            color: $violeta;
        }
        .social { /*aplicar mixin a todos los elementos sociales */
            font-size: 3.5rem;
            display: flex;
            width: 50%;
            justify-content: space-around;
            margin-bottom: 30px;
            @media (max-width: $smartphone) {
                justify-content: space-around;
            }
            @media (max-width: $tablets) {
                justify-content: space-around;
            }
            #facebook {
                color: $violeta;
                margin: 0 auto;
                &:hover {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    color: $dorado;
                }
            }
            #twitter {
                color: $violeta;
                margin: 0 auto;
                &:hover {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    color: $dorado;
                }
            }
            #instagram {
                color: $violeta;
                margin: 0 auto;
                &:hover {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    color: $dorado;
                }
            }
            #youtube {
                color: $violeta;
                margin: 0 auto;
                &:hover {
                    transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -o-transform: scale(1.5);
                    color: $dorado;
                }
            }
        }
    }
}

